@import "_vars"

#pageheader
    border-bottom 1px solid black
    background linear-gradient(bottom, dark1 32%, dark2 78%)
    margin-top 0
    h1, h2
        color medium1
        text-align left
        text-shadow 0px -2px 1px dark2
    h2
        color light1
        font-size 24px
        text-shadow 0px 1px 1px dark2