#pageheader
    background linear-gradient(bottom,  darken(white, 20%) 23%, darken(white, 5%) 62%)
    margin-top 0
    h1, h2
        color black
        text-align left
        padding-left 64px
    h1
        text-shadow 0px 2px 1px white
    h2
        font-size 24px
        text-shadow 0px 1px 1px white
