@import "_vars"

#pageheader
    border-bottom 1px solid black
    background linear-gradient(top, light 32%, dark 78%)
    margin-top 0
    h1, h2
        color darken(dark, 30)
        text-align left
        padding-left 64px
        text-shadow 0px 2px 1px lighten(dark, 30)
    h2
        font-size 24px
        text-shadow 0px 2px 1px lighten(dark, 20)