@import 'nib'

white = #ededed
almostwhite = #dcdcdc
black = #222
almostblack = #444
textgray = #333
darkgray = #666
gray = #ccc

dark1 = #3E606F
dark2 = #193441

medium1 = #91AA9D
medium2 = #F2F2C5

light1 = #FCFFF5
light2 = #D1DBBD
