@import 'nib'

white = #ededed
almostwhite = #dcdcdc
black = #222
almostblack = #444
textgray = #333
darkgray = #666
gray = #ccc

dark1 = #291100
dark2 = #963900
medium = #E39833
light1 = #FFD169
light2 = #FFF0A1
