@import "navilan"


#main 

    padding-bottom 48px
    padding-top 18px

    h1, h2
        font-family mic-32-new-rounded-web, sans-serif
        font-weight bold
        line-height 24px
        margin-bottom 0px
    
    h1
        margin-top 24px
        
    h2
        color darkgray

    a
        color dark1
        &:hover
            color dark2

    blockquote
        color darkgray
        border-left 2px solid rgba(dark2, 0.1)
        padding 12px
        
    p
        font-size 14px
        line-height 24px
        margin 12px 32px 12px 0
        
    ul
        padding-bottom 11px
        
        
    li 
        list-style-type disc
        font-size 14px
        line-height 24px
        
    em
        font-style italic
        
    strong
        font-weight bold
    
