@import "navilan"


h1, h2
    font-family mic-32-new-rounded-web, sans-serif
    font-weight bold
    line-height 24px

#main 
    padding-bottom 24px
    padding-top 18px
    a
        color darkgray
        &:hover
            color teal
    blockquote
        color darkgray
        border-left 2px solid almostwhite
        padding 12px
        
    p
        font-size 14px
        line-height 24px
        margin 12px 32px 12px 0
    
