@import "navilan"


h1, h2
    font-family mic-32-new-rounded-web, sans-serif
    font-weight bold
    line-height 24px

#main 
    padding-bottom 48px
    padding-top 18px
    a
        color dark1
        &:hover
            color dark2
    blockquote
        color darkgray
        border-left 2px solid rgba(dark2, 0.1)
        padding 12px
        
    p
        font-size 14px
        line-height 24px
        margin 12px 32px 12px 0
    
