@import "_vars"

contentwidth = 384px
buttonpadding = 50px

nav 
    width contentwidth
    margin 33px auto 38px
    a
        pill-button()
        font-size 24px
        line-height 28px
        padding 12px 24px 16px
        margin 3px 0 10px
        width contentwidth - buttonpadding
        font-weight bold
        color black
        text-shadow 0px 2px 1px #fff
        
        strong
            font-weight 100
            font-family "Helvetica Neue", sans-serif
            color darkgray
            float right
            margin-top 1px
            text-shadow none