@import "_vars"
@import "_head"
@import "_box"

.wrap
    box()

#pageheader 
    h1, h2
        text-align center
        
#pagefooter
    relative bottom -48px

#nodenav
    padding 34px 28px 0px
    clearfix()

    li
        list-style-type none
        width 200px
        float left
        font-size 12px
        box-shadow 1px 1px 1px dark1
        background linear-gradient(bottom, light2, medium2)
        margin 12px 0
        margin-left 24px
        padding 12px
        border-radius 8px
        
        &:nth-child(5n+5)
            clear both
            margin-left 0

        &:hover
            background linear-gradient(bottom, light2, medium1)
            box-shadow 1px 4px 2px medium1
            
            span
                color dark1
                text-shadow 0px 1px 1px light2
                
        a
            text-decoration none
            color medium1
            
            &:hover
                color light1

        &:first-child
            margin-left 0

        .cover
            margin-top 2px
            height 200px
            display table-cell
            vertical-align middle
            text-align center
            width 200px
            margin 0 auto
            
            img
                max-width 200px
                max-height 200px
                height auto
                width auto
                display inline
                
            &.empty
                background transparent url('/media/images/post.png') no-repeat center center

        span
            color textgray
            text-align center
            display block
            text-shadow 0px 1px 1px light1


            &.title
                font-size 14px
                line-height 23px

            &.subtitle
                margin-top 7px
                font-size 9px
                line-height 12px