@import "_vars"

global-reset()
reset-html5()

html
    background-color #ccc
    
body
    color black
    background linear-gradient(top,  #ededed, #ccc)
    font-family "Helvetica", "Helvetica Neue", sans-serif
    margin 0
    padding 0

.wrap
    clearfix()
    width 1024px
    margin 0 auto 24px
    padding 0 0 48px
    

#pageheader
    padding-top 57px
    text-align center
    h1
        font-size 48px
        font-weight bold
        line-height 70px
        color almostblack
        text-shadow 0px 2px 1px #fff

    h2
        font-size 24px
        line-height 42px
        font-weight 200
        padding-left 2px
        color textgray

.amp
    font-family "Skia", Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif
    font-size 110%
    font-style italic
    margin-left -1px
    

#pagefooter
    position relative
    bottom -72px
    clearfix()
    text-align center
    li
        list-style-type none
        display inline
        &:after
            padding 12px
            content '|'
            color darken(gray, 5)
        &:last-child:after
            content ''
            padding 0

    a
        color darken(gray, 12)
        text-shadow 0px 1px 0px lighten(gray, 12)
        text-decoration none
        
        &:hover
            color textgray