@import "_vars"

global-reset()
reset-html5()

html
    background-color light1
    
body
    color dark1
    background linear-gradient(bottom,  light1, medium1)
    font-family "Helvetica", "Helvetica Neue", sans-serif
    margin 0
    padding 0

.wrap
    clearfix()
    width 1024px
    margin 0 auto 24px
    padding 0 0 12px
    

#pageheader
    padding-top 57px
    text-align center
    h1
        font-size 48px
        font-weight bold
        line-height 70px
        color almostblack
        text-shadow 0px 2px 1px #fff

    h2
        font-size 24px
        line-height 42px
        font-weight 200
        padding-left 2px
        color textgray

.amp
    font-family "Skia", Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif
    font-size 110%
    font-style italic
    margin-left -1px
    

#pagefooter
    clearfix()
    text-align center
    font-size 12px
    
    li
        list-style-type none
        display inline
        &:after
            padding 12px
            content '|'
            color lighten(dark1, 20)
        &:last-child:after
            content ''
            padding 0
    a
        color medium1
        text-shadow 0px 1px 0px light1
        text-decoration none
        
        &:hover
            color dark1