<footer id="pagefooter">
    <nav>
        <ul>
            <li><a href="/">Lakshmi Vyas</a></li>
            <li><a href="/navilan">நவிலன்</a></li>
            <li><a href="http://twitter.com/lakshmivyas">Follow me</a></li>
        </ul>
    </nav>
</footer>