{% macro nav(node) %}
<nav id="nodenav">
<ul>
{% for res in node.walk_resources_sorted_by_created() if not res.meta.listing %}
{% refer to res.url as ref %}
<li>
<a href="{{ content_url(res.url) }}">
<div class="cover{{ ' empty' if not res.meta.cover }}">
<center>
{% if res.meta.cover -%}
    <img class="cover" src="{{ media_url('images/'~res.meta.cover.url) }}">
{%- endif %}
</center>
</div>
<span class="title">{{ res.meta.title|e }}</span>
<span class="subtitle">{{ res.meta.subtitle|e }}</span>
</a>
</li>
{%- endfor %}
{%- endmacro %}
