{% extends "blog.j2" %}
	
{% block article -%}
    <article id="main">
        <pre>
{% filter smartypants -%}
{% block content -%}{%- endblock %}
{%- endfilter %}
        </pre>
    </article>	
{% endblock %}