{% set self, meta = (resource, resource.meta) -%}
<!doctype html>
<html>
    <head>
        <title>{{ meta.title }} &mdash; {{ meta.subtitle }}</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        {% block css -%}
        <link rel="stylesheet" href="{{ media_url('css/site.css') }}" type="text/css">
        {% for css in meta.css -%}
        <link rel="stylesheet" href="{{ media_url('css/'~css~'.css') }}" type="text/css">
        {%- endfor %}
        {%- endblock %}
        <script type="text/javascript" src="http://use.typekit.com/orf0hue.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        {% block js -%}{%- endblock %}
    </head>
    <body>
        <div class="wrap">
            <header id="pageheader">
                {% block header -%}
                <h1 class="mainhead">{{ meta.title|e }}</h1>
                <h2 class="subhead">{{ meta.subtitle|e }}</h2>
                {%- endblock %}
            </header>
            {% block main -%}
            <article id="main">
                {% filter markdown|typogrify -%}{% block content -%}{%- endblock %}{%- endfilter %}
            </article>
            {%- endblock %}
            {% if not meta.nofooter -%}
            <footer id="pagefooter">
                {% block footer %}
                <nav>
                    <ul>
                        <li><a href="/">Lakshmi Vyas</a></li>
                        <li><a href="/navilan">நவிலன்</a></li>
                        <li><a href="http://twitter.com/lakshmivyas">Follow me</a></li>
                    </ul>
                </nav>
                {%- endblock %}
            </footer>
            {%- endif %}
        </div>
    </body>
</html>
