{% set self, meta = (resource, resource.meta) -%}
<!doctype html>
<html>
    <head>
        {% block css -%}
        <link rel="stylesheet" href="{{ media_url('css/site.css') }}" type="text/css">
        {% for css in meta.css -%}
        <link rel="stylesheet" href="{{ media_url('css/'~css~'.css') }}" type="text/css">
        {%- endfor %}
        {%- endblock %}
        <script type="text/javascript" src="http://use.typekit.com/orf0hue.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        <div class="wrap">
            <header id="pageheader">
                {% block header -%}
                <h1 class="mainhead">{{ meta.title|markdown|typogrify }}</h1>
                <h2 class="subhead">{{ meta.subtitle|markdown|typogrify }}</h2>
                {%- endblock %}
            </header>
            <article id="main">
                {% filter markdown|typogrify -%}{% block content -%}{%- endblock %}{%- endfilter %}
            </article>
            <footer id="pagefooter">
                {% block footer %}{%- endblock %}
            </footer>
        </div>
    </body>
</html>
