html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #222;
  background: #ededed;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
body {
  color: #222;
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
  background-color: #ededed;
  margin: 0;
  padding: 0;
}
.wrap {
  width: 1024px;
  margin: 0 auto;
  padding: 48px 0;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.27), 0 0 40px rgba(0,0,0,0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.27), 0 0 40px rgba(0,0,0,0.06) inset;
  box-shadow: 0 1px 4px rgba(0,0,0,0.27), 0 0 40px rgba(0,0,0,0.06) inset;
}
#pageheader {
  margin-top: 9px;
  text-align: center;
}
#pageheader h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
  color: #444;
  text-shadow: 0px 2px 1px #fff;
}
#pageheader h2 {
  font-size: 16px;
  line-height: 34px;
  font-weight: light;
  padding-left: 2px;
  color: #333;
}
.amp {
  font-family: "Skia", Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-size: 110%;
  font-style: italic;
  margin-left: -1px;
}
